<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} {{ page_title }} {% end %}</title>
    {% include "../_partials/base/css.html" %}
</head>
<body>
        
    {% include "../_partials/base/sidebar.html" %}
    
    <main class="main-content">
        <div class="container">
            
            {% if not with_out_header %}
                {% include "../_partials/base/header.html" %}
            {% end %}
            
            {% if flash_message %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
            {% end %}

            {% block content %}{% end %}
        </div>
    </main>
    
    {% include "../_partials/base/navbar.html" %}
    
    <div id="sidebar-overlay" class="overlay" data-action="close"></div>

    {% include "../_partials/base/js.html" %}
</body>
</html>